.faq {
   height: 100vh;
   width: 100%;
   padding: 0 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   margin: 15vh 0px;

   h3 {
      font-size: 28px;
   }

   .faq-container {
      width: 720px;
      max-width: 95vw;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      margin-bottom: 20px;

      .accordion {
         background-color: #3f3f3f;
         border-radius: 8px;
         padding: 12px;
         cursor: pointer;
         box-shadow: 5px 5px 5px rgba(0,0,0,0.3);

         .accordion-header {
            width: 100%;
            border: none;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            cursor: pointer;
            color: #fff;

            span {
               max-width: 100%;
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;
               font-weight: bold;
            }

            .arrow {
               transition: transform .2s linear;
            }
         }

         .accordion-body {
            color: #ffffff;
            transition:  opacity .3s;
            font-size: 14px;
            opacity: 0;
            height: 0;
            overflow: hidden;
         }

         .accordion-body.active {
            height: 100%;
            opacity: 1;
            padding: 5px 0px;
         }
      }

      .accordion:has(:active) .arrow {
         rotate: -180deg;
      }
      
   }
}